
.square{
    float: left;
}

.img-Leisure{
    height: 500px;
    width: 500px;
    float: left;
    background-image: url(img/CFG19\ Leisure\ .png);
    background-size: 100%;
} 

.square2{
    height: 300px;
    width: 300px;
    float: right;
}

.img-Emergency{
    height: 500px;
    width: 500px;
    float: right;
    background-image: url(img/CFG19\ Emergency\ image.png);
    background-size: 100%;
} 


#shape1 {
    width: 50%
}

#img {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-top: 200px;
    display: block; 
    width: 75%;
}

#shape2 {
    width: 50%
}

#img2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    top: 50%;
    display: block;
    width: 75%;
}